@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>Please make a selection</h1>
        <ul>
            <li><strong>@Html.ActionLink("Get People using a Concrete Type", "ConcreteType", "People")</strong></li>
            <li><strong>@Html.ActionLink("Get People using an Abstract Type", "AbstractType", "People")</strong></li>
        </ul>
    </div>
